body {
  background-color: #DFEEEA;
}

h1,h3 {
  color: #2596be;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-top-width: thick;
  width: 5%;
}
